[submodule "Submodules/xcconfig"]
	path = Submodules/xcconfig
	url = https://github.com/macmade/xcconfig.git
[submodule "Submodules/xasm65"]
	path = Submodules/xasm65
	url = https://github.com/macmade/xasm65.git
[submodule "Submodules/SwiftCurses"]
	path = Submodules/SwiftCurses
	url = https://github.com/macmade/SwiftCurses.git
[submodule "Submodules/MOS-6502-Tests"]
	path = Submodules/MOS-6502-Tests
	url = https://github.com/macmade/MOS-6502-Tests.git
